In [ ]:
pip install selenium

In [ ]:
import time
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait, Select
from selenium.webdriver.support import expected_conditions as EC
import pandas as pd



def run1():
    url = "https://interstat.tat.or.th/mdgrp/ormap_new/report_thai_general.php#"

    driver = webdriver.Chrome()
    driver.get(url)

    # สร้าง DataFrame สำหรับเก็บข้อมูล
    df = pd.DataFrame(columns=["List", "Link"])

    try:
        #//*[@id="t8701_year"]/option[1]
        #//*[@id="t8701_year"]/option[10]
        for list_number3 in range(0, 5):
            button = driver.find_element(By.XPATH, '//*[@id="t8701_year"]')
            button.click()
      

            # เลือกตัวเลือกจาก dropdown
            select = Select(driver.find_element(By.XPATH, '//*[@id="t8701_year"]'))
            select.select_by_index(list_number3)

            for list_number2 in range(0, 12):
                button = driver.find_element(By.XPATH, '//*[@id="t8701_month"]')
                button.click()
           

                # เลือกตัวเลือกจาก dropdown
                select = Select(driver.find_element(By.XPATH, '//*[@id="t8701_month"]'))
                select.select_by_index(list_number2)
      

                button_in_table = driver.find_element(By.XPATH, '/html/body/div/table[10]/tbody/tr/td/div/input')
                button_in_table.click()
      

                for list_number in range(1, 78):
                    WebDriverWait(driver, 10).until(EC.presence_of_element_located((By.XPATH, f'//*[@id="Plabel"]/div[{list_number}]/a')))
                    time.sleep(0.3)

                    popup_link = driver.find_element(By.XPATH, f'//*[@id="Plabel"]/div[{list_number}]/a')
                    popup_link.click()
                    time.sleep(0.3)

                    WebDriverWait(driver, 10).until(EC.number_of_windows_to_be(2))
                    time.sleep(0.3)

                    popup_window_handle = None
                    for handle in driver.window_handles:
                        if handle != driver.current_window_handle:
                            popup_window_handle = handle
                            break

                    driver.switch_to.window(popup_window_handle)
                    time.sleep(0.3)

                    popup_url = driver.current_url
                    df = pd.concat([df, pd.DataFrame({"List": [list_number], "Link": [popup_url]})], ignore_index=True)
                    time.sleep(0.3)

                    driver.close()
                    driver.switch_to.window(driver.window_handles[0])
                    time.sleep(0.3)

    finally:
        driver.quit()

    df = df.drop_duplicates(subset=['Link'], keep='first')
    return df

In [ ]:
import time
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait, Select
from selenium.webdriver.support import expected_conditions as EC
import pandas as pd

def run1():
    url = "https://interstat.tat.or.th/mdgrp/ormap_new/report_thai_general.php#"

    driver = webdriver.Chrome()
    driver.get(url)

    # สร้าง DataFrame สำหรับเก็บข้อมูล
    df = pd.DataFrame(columns=["List", "Link"])

    try:
        for list_number3 in range(0, 5):
            button = driver.find_element(By.XPATH, '//*[@id="t8701_year"]')
            button.click()

            # เลือกตัวเลือกจาก dropdown
            select = Select(driver.find_element(By.XPATH, '//*[@id="t8701_year"]'))
            select.select_by_index(list_number3)

            for list_number2 in range(0, 12):
                button = driver.find_element(By.XPATH, '//*[@id="t8701_month"]')
                button.click()

                # เลือกตัวเลือกจาก dropdown
                select = Select(driver.find_element(By.XPATH, '//*[@id="t8701_month"]'))
                select.select_by_index(list_number2)

                button_in_table = driver.find_element(By.XPATH, '/html/body/div/table[10]/tbody/tr/td/div/input')
                button_in_table.click()

                  # เพิ่มเติมเพื่อรอนานขึ้น

                for list_number in range(1, 78):
                    WebDriverWait(driver, 10).until(EC.presence_of_element_located((By.XPATH, f'//*[@id="Plabel"]/div[{list_number}]/a')))
                    
                    popup_link = driver.find_element(By.XPATH, f'//*[@id="Plabel"]/div[{list_number}]/a')
                    popup_link.click()
                    time.sleep(0.3)
                    WebDriverWait(driver, 20).until(EC.number_of_windows_to_be(2))

                    popup_window_handle = None
                    for handle in driver.window_handles:
                        if handle != driver.current_window_handle:
                            popup_window_handle = handle
                            break

                    driver.switch_to.window(popup_window_handle)

                    popup_url = driver.current_url
                    df = pd.concat([df, pd.DataFrame({"List": [list_number], "Link": [popup_url]})], ignore_index=True)

                    driver.close()
                    driver.switch_to.window(driver.window_handles[0])

                    time.sleep(0.3)  # เพิ่มเติมเพื่อรอนานขึ้น

    finally:
        driver.quit()

    df = df.drop_duplicates(subset=['Link'], keep='first')
    return df

In [42]:
df222

     List                                               Link
0       1  https://interstat.tat.or.th/mdgrp/ormap_new/or...
1       2  https://interstat.tat.or.th/mdgrp/ormap_new/or...
2       3  https://interstat.tat.or.th/mdgrp/ormap_new/or...
3       4  https://interstat.tat.or.th/mdgrp/ormap_new/or...
4       5  https://interstat.tat.or.th/mdgrp/ormap_new/or...
...   ...                                                ...
4538   73  https://interstat.tat.or.th/mdgrp/ormap_new/or...
4539   74  https://interstat.tat.or.th/mdgrp/ormap_new/or...
4540   75  https://interstat.tat.or.th/mdgrp/ormap_new/or...
4541   76  https://interstat.tat.or.th/mdgrp/ormap_new/or...
4542   77  https://interstat.tat.or.th/mdgrp/ormap_new/or...

[4543 rows x 2 columns]

In [47]:
#up choose_data_avgY
import pandas as pd
import gspread
import gspread_dataframe as gd
from google.oauth2 import service_account
from datetime import datetime
def run_all():
    # ระบุขอบเขต (scope) ของการเข้าถึง Google Sheets
    SCOPES = ['https://www.googleapis.com/auth/spreadsheets']

    # อ่านข้อมูลการรับรองตัวตนจากไฟล์ "keys.json"
    creds = service_account.Credentials.from_service_account_file(
        'keys.json', scopes=SCOPES)

    # เชื่อมต่อกับ Google Sheets
    client = gspread.authorize(creds)
    
    # รหัสของ Google Spreadsheet ที่คุณต้องการใช้
    SAMPLE_SPREADSHEET_ID = '1rH68GFTtshdDNaM70TUzXuhp5_23gfOdtqP2OaceATY'

    # โหลดข้อมูลหุ้นที่คุณต้องการอัปเดต (เรียกใช้ฟังก์ชันหรือเมทอดที่ให้ข้อมูลนี้)
    filtered_data = df222
    
    # เปิด Google Sheet
    sheet = client.open_by_key(SAMPLE_SPREADSHEET_ID)

    # เลือกชีทที่คุณต้องการอัปเดต (ใช้ชื่อชีทหรือดัชนีชีท)
    update_sheet = sheet.worksheet("link2") 

    # ลบข้อมูลในชีท (หากต้องการ)
    update_sheet.clear()

    # แปลงข้อมูล int64 เป็น strings ใน DataFrame
    #filtered_data = filtered_data.astype(str)

    # อัปเดตข้อมูลลงใน Google Sheets
    gd.set_with_dataframe(update_sheet, filtered_data)

    # พิมพ์เวลาปัจจุบัน
    print(datetime.now())

# เรียกใช้งานฟังก์ชัน run_all()
run_all()

2023-12-22 04:38:18.170600

In [4]:
def run3():
    df1=run1()
    df2=run2()
    result = pd.concat([df1, df2], ignore_index=True)
    return result

In [49]:
from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd
import time

def run4():
    df3 = df222
    # Explicitly create an empty DataFrame
    result_df_list = []

    # Use a single WebDriver instance
    driver = webdriver.Chrome()

    for link in df3['Link']:
        try:
            # Open the URL
            driver.get(link)
            time.sleep(0.05)
            
            # Get the page source
            page_source = driver.page_source
   

            # Parse the HTML with BeautifulSoup
            soup = BeautifulSoup(page_source, 'html.parser')

            # Find the element with class "odd"
            odd_element = soup.find('tr', class_='odd')
            odd_text_content = odd_element.get_text(strip=True) if odd_element else None

            # Find the element with class "text_title"
            text_title_element = soup.find('span', class_='text_title')
            text_title_content = text_title_element.get_text(strip=True) if text_title_element else None
            time.sleep(0.05)
            # Debug prints
            #print(f"Link: {link}")
            #print(f"Odd Element Text: {odd_text_content}")
            #print(f"Text Title Element Text: {text_title_content}")

            # Create a temporary DataFrame for the current link
            temp_df = pd.DataFrame({'รายละเอียด': [text_title_content], 'อัตราการเข้าพักเฉลี่ย': [odd_text_content]})

            # Append the temporary DataFrame to the list
            result_df_list.append(temp_df)

        except Exception as e:
            print(f"Error processing {link}: {str(e)}")

    # Close the WebDriver
    driver.quit()

    result_df = pd.concat(result_df_list, ignore_index=True)

    result_df['อัตราการเข้าพักเฉลี่ย'] = result_df['อัตราการเข้าพักเฉลี่ย'].str.replace('อัตราการเข้าพักเฉลี่ย (OR)', '', regex=False)
    # Print or use the new DataFrame
    extracted_info = pd.DataFrame()

    extracted_info = result_df['รายละเอียด'].str.extract(r'สถานการณ์ท่องเที่ยวภายในประเทศจังหวัด (.+?)ประจำเดือน (.+?) (\d{4})')

    # Renaming columns
    extracted_info.columns = ['จังหวัด', 'เดือน', 'ปี']

    # Combining the extracted information with the original DataFrame
    extracted_info['อัตราการเข้าพักเฉลี่ย'] = result_df['อัตราการเข้าพักเฉลี่ย']

    # Displaying the result
    return extracted_info


df444 = run4()
df444

            จังหวัด       เดือน    ปี อัตราการเข้าพักเฉลี่ย
0     กรุงเทพมหานคร      มกราคม  2562                89.32%
1            กระบี่      มกราคม  2562                82.91%
2         กาญจนบุรี      มกราคม  2562                56.24%
3         กาฬสินธุ์      มกราคม  2562                51.27%
4         กำแพงเพชร      มกราคม  2562                50.97%
...             ...         ...   ...                   ...
4538       อุดรธานี   พฤศจิกายน  2566                   71%
4539      อุตรดิตถ์   พฤศจิกายน  2566                62.72%
4540      อุทัยธานี   พฤศจิกายน  2566                54.98%
4541    อุบลราชธานี   พฤศจิกายน  2566                65.37%
4542         บึงกาฬ   พฤศจิกายน  2566                70.37%

[4543 rows x 4 columns]

In [50]:
import pandas as pd
import gspread
import gspread_dataframe as gd
from google.oauth2 import service_account
from datetime import datetime
def run_all():
    # ระบุขอบเขต (scope) ของการเข้าถึง Google Sheets
    SCOPES = ['https://www.googleapis.com/auth/spreadsheets']

    # อ่านข้อมูลการรับรองตัวตนจากไฟล์ "keys.json"
    creds = service_account.Credentials.from_service_account_file(
        'keys.json', scopes=SCOPES)

    # เชื่อมต่อกับ Google Sheets
    client = gspread.authorize(creds)
    
    # รหัสของ Google Spreadsheet ที่คุณต้องการใช้
    SAMPLE_SPREADSHEET_ID = '1rH68GFTtshdDNaM70TUzXuhp5_23gfOdtqP2OaceATY'

    # โหลดข้อมูลหุ้นที่คุณต้องการอัปเดต (เรียกใช้ฟังก์ชันหรือเมทอดที่ให้ข้อมูลนี้)
    filtered_data = df444
    
    # เปิด Google Sheet
    sheet = client.open_by_key(SAMPLE_SPREADSHEET_ID)

    # เลือกชีทที่คุณต้องการอัปเดต (ใช้ชื่อชีทหรือดัชนีชีท)
    update_sheet = sheet.worksheet("data2") 

    # ลบข้อมูลในชีท (หากต้องการ)
    update_sheet.clear()

    # แปลงข้อมูล int64 เป็น strings ใน DataFrame
    #filtered_data = filtered_data.astype(str)

    # อัปเดตข้อมูลลงใน Google Sheets
    gd.set_with_dataframe(update_sheet, filtered_data)

    # พิมพ์เวลาปัจจุบัน
    print(datetime.now())

# เรียกใช้งานฟังก์ชัน run_all()
run_all()

2023-12-22 04:56:24.752307

In [64]:
df.dtypes

จังหวัด                  object
เดือน                    object
ปี                       object
อัตราการเข้าพักเฉลี่ย    object
dtype: object

In [10]:
import pandas as pd
import gspread
import gspread_dataframe as gd
from google.oauth2 import service_account
from datetime import datetime
def run_all():
    # ระบุขอบเขต (scope) ของการเข้าถึง Google Sheets
    SCOPES = ['https://www.googleapis.com/auth/spreadsheets']

    # อ่านข้อมูลการรับรองตัวตนจากไฟล์ "keys.json"
    creds = service_account.Credentials.from_service_account_file(
        'keys.json', scopes=SCOPES)

    # เชื่อมต่อกับ Google Sheets
    client = gspread.authorize(creds)
    
    # รหัสของ Google Spreadsheet ที่คุณต้องการใช้
    SAMPLE_SPREADSHEET_ID = '1rH68GFTtshdDNaM70TUzXuhp5_23gfOdtqP2OaceATY'

    # โหลดข้อมูลหุ้นที่คุณต้องการอัปเดต (เรียกใช้ฟังก์ชันหรือเมทอดที่ให้ข้อมูลนี้)
    filtered_data = df
    
    # เปิด Google Sheet
    sheet = client.open_by_key(SAMPLE_SPREADSHEET_ID)

    # เลือกชีทที่คุณต้องการอัปเดต (ใช้ชื่อชีทหรือดัชนีชีท)
    update_sheet = sheet.worksheet("interstat_tat_update") 

    # ลบข้อมูลในชีท (หากต้องการ)
    update_sheet.clear()

    # แปลงข้อมูล int64 เป็น strings ใน DataFrame
    #filtered_data = filtered_data.astype(str)

    # อัปเดตข้อมูลลงใน Google Sheets
    gd.set_with_dataframe(update_sheet, filtered_data)

    # พิมพ์เวลาปัจจุบัน
    print(datetime.now())

# เรียกใช้งานฟังก์ชัน run_all()
run_all()

2023-12-20 20:17:27.767877

In [ ]:
import gspread
from google.oauth2.service_account import Credentials
from datetime import datetime, timedelta
def getdata():
    # โหลดข้อมูลรับรอง JSON จากไฟล์ที่คุณดาวน์โหลด
    credentials = Credentials.from_service_account_file('keys.json', scopes=['https://spreadsheets.google.com/feeds', 'https://www.googleapis.com/auth/drive'])

    # ตั้งค่าการเชื่อมต่อ gspread ด้วยข้อมูลรับรอง
    gc = gspread.service_account(filename='keys.json')

    # เปิดสเปรดชีตของ Google Sheets โดยใช้ชื่อหรือ URL
    spreadsheet = gc.open('interstat_tat')
 
    # เลือกชีตที่ต้องการใน Google Sheets
    worksheet = spreadsheet.worksheet('ชีต8')

    # อ่านข้อมูลจากชีตเป็นรายการของดิกชันนารี
    data = worksheet.get_all_records()

    # สร้าง DataFrame จากข้อมูล
    df = pd.DataFrame(data)

    df = df.drop_duplicates(subset=['จังหวัด', 'เดือน', 'ปี'], keep='first')

    return df

df3 = getdata()
df3

In [57]:
df3['month'] = pd.to_datetime(df3['month'], format='%d/%m/%Y').dt.strftime('%Y-%m-%d')
df3

,จังหวัด,เดือน,ปี,อัตราการเข้าพักเฉลี่ย,เดือน_num,คศ,month
0,กระบี่,สิงหาคม,2564,0.37%,8,2021,2021-08-01
1,กระบี่,สิงหาคม,2563,7.11%,8,2020,2020-08-01
2,กระบี่,สิงหาคม,2558,47.13%,8,2015,2015-08-01
3,กระบี่,สิงหาคม,2559,47.88%,8,2016,2016-08-01
4,กระบี่,สิงหาคม,2557,48.67%,8,2014,2014-08-01
...,...,...,...,...,...,...,...
11774,อุดรธานี,พฤศจิกายน,2566,71%,11,2023,2023-11-01
11775,อุตรดิตถ์,พฤศจิกายน,2566,62.72%,11,2023,2023-11-01
11776,อุทัยธานี,พฤศจิกายน,2566,54.98%,11,2023,2023-11-01
11777,อุบลราชธานี,พฤศจิกายน,2566,65.37%,11,2023,2023-11-01
11778,บึงกาฬ,พฤศจิกายน,2566,70.37%,11,2023,2023-11-01

In [59]:
import pandas as pd
import gspread
import gspread_dataframe as gd
from google.oauth2 import service_account
from datetime import datetime
def run_all():
    # ระบุขอบเขต (scope) ของการเข้าถึง Google Sheets
    SCOPES = ['https://www.googleapis.com/auth/spreadsheets']

    # อ่านข้อมูลการรับรองตัวตนจากไฟล์ "keys.json"
    creds = service_account.Credentials.from_service_account_file(
        'keys.json', scopes=SCOPES)

    # เชื่อมต่อกับ Google Sheets
    client = gspread.authorize(creds)
    
    # รหัสของ Google Spreadsheet ที่คุณต้องการใช้
    SAMPLE_SPREADSHEET_ID = '1rH68GFTtshdDNaM70TUzXuhp5_23gfOdtqP2OaceATY'

    # โหลดข้อมูลหุ้นที่คุณต้องการอัปเดต (เรียกใช้ฟังก์ชันหรือเมทอดที่ให้ข้อมูลนี้)
    filtered_data = df3
    
    # เปิด Google Sheet
    sheet = client.open_by_key(SAMPLE_SPREADSHEET_ID)

    # เลือกชีทที่คุณต้องการอัปเดต (ใช้ชื่อชีทหรือดัชนีชีท)
    update_sheet = sheet.worksheet("interstat_tat_update") 

    # ลบข้อมูลในชีท (หากต้องการ)
    update_sheet.clear()

    # แปลงข้อมูล int64 เป็น strings ใน DataFrame
    #filtered_data = filtered_data.astype(str)

    # อัปเดตข้อมูลลงใน Google Sheets
    gd.set_with_dataframe(update_sheet, filtered_data)

    # พิมพ์เวลาปัจจุบัน
    print(datetime.now())

# เรียกใช้งานฟังก์ชัน run_all()
run_all()

2023-12-22 05:10:42.996395

In [2]:
! pip install gspread google-auth google-auth-oauthlib google-auth-httplib2
! pip install --upgrade certifi
! pip install mysql-connector-python
! pip install google-auth


import pandas as pd
import numpy as np
import datetime
import mysql.connector
import yfinance as yf
import requests

import warnings
warnings.filterwarnings('ignore')
from functools import lru_cache

import matplotlib.pyplot as plt
plt.rcParams['font.family'] = 'tahoma'
import matplotlib.ticker as ticker

import gspread
from google.oauth2.service_account import Credentials
#import gspread_dataframe as gd

Requirement already satisfied: gspread in /Users/mac/anaconda3/lib/python3.11/site-packages (5.12.2)
Requirement already satisfied: google-auth in /Users/mac/anaconda3/lib/python3.11/site-packages (2.22.0)
Requirement already satisfied: google-auth-oauthlib in /Users/mac/anaconda3/lib/python3.11/site-packages (1.0.0)
Requirement already satisfied: google-auth-httplib2 in /Users/mac/anaconda3/lib/python3.11/site-packages (0.1.0)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /Users/mac/anaconda3/lib/python3.11/site-packages (from google-auth) (5.3.1)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /Users/mac/anaconda3/lib/python3.11/site-packages (from google-auth) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in /Users/mac/anaconda3/lib/python3.11/site-packages (from google-auth) (4.9)
Requirement already satisfied: six>=1.9.0 in /Users/mac/anaconda3/lib/python3.11/site-packages (from google-auth) (1.16.0)
Requirement already satisfied: urllib3<2.0 in /Users/mac/anaconda3/lib/python3.11/site-packages (from google-auth) (1.26.16)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /Users/mac/anaconda3/lib/python3.11/site-packages (from google-auth-oauthlib) (1.3.1)
Requirement already satisfied: httplib2>=0.15.0 in /Users/mac/anaconda3/lib/python3.11/site-packages (from google-auth-httplib2) (0.22.0)
Requirement already satisfied: pyparsing!=3.0.0,!=3.0.1,!=3.0.2,!=3.0.3,<4,>=2.4.2 in /Users/mac/anaconda3/lib/python3.11/site-packages (from httplib2>=0.15.0->google-auth-httplib2) (3.0.9)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /Users/mac/anaconda3/lib/python3.11/site-packages (from pyasn1-modules>=0.2.1->google-auth) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in /Users/mac/anaconda3/lib/python3.11/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib) (3.2.2)
Requirement already satisfied: requests>=2.0.0 in /Users/mac/anaconda3/lib/python3.11/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib) (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/mac/anaconda3/lib/python3.11/site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/mac/anaconda3/lib/python3.11/site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in /Users/mac/anaconda3/lib/python3.11/site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib) (2023.11.17)
Requirement already satisfied: certifi in /Users/mac/anaconda3/lib/python3.11/site-packages (2023.11.17)
Requirement already satisfied: mysql-connector-python in /Users/mac/anaconda3/lib/python3.11/site-packages (8.1.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in /Users/mac/anaconda3/lib/python3.11/site-packages (from mysql-connector-python) (4.21.12)
Requirement already satisfied: google-auth in /Users/mac/anaconda3/lib/python3.11/site-packages (2.22.0)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /Users/mac/anaconda3/lib/python3.11/site-packages (from google-auth) (5.3.1)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /Users/mac/anaconda3/lib/python3.11/site-packages (from google-auth) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in /Users/mac/anaconda3/lib/python3.11/site-packages (from google-auth) (4.9)
Requirement already satisfied: six>=1.9.0 in /Users/mac/anaconda3/lib/python3.11/site-packages (from google-auth) (1.16.0)
Requirement already satisfied: urllib3<2.0 in /Users/mac/anaconda3/lib/python3.11/site-packages (from google-auth) (1.26.16)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /Users/mac/anaconda3/lib/python3.11/site-packages (from pyasn1-modules>=0.2.1->google-auth) (0.4.8)

In [64]:
#up choose_data
import gspread
from google.oauth2.service_account import Credentials
from datetime import datetime, timedelta
def getdata():
    # โหลดข้อมูลรับรอง JSON จากไฟล์ที่คุณดาวน์โหลด
    credentials = Credentials.from_service_account_file('keys.json', scopes=['https://spreadsheets.google.com/feeds', 'https://www.googleapis.com/auth/drive'])

    # ตั้งค่าการเชื่อมต่อ gspread ด้วยข้อมูลรับรอง
    gc = gspread.service_account(filename='keys.json')

    # เปิดสเปรดชีตของ Google Sheets โดยใช้ชื่อหรือ URL
    spreadsheet = gc.open('interstat_tat')
 
    # เลือกชีตที่ต้องการใน Google Sheets
    worksheet = spreadsheet.worksheet('choose_data')

    # อ่านข้อมูลจากชีตเป็นรายการของดิกชันนารี
    data = worksheet.get_all_records()

    # สร้าง DataFrame จากข้อมูล
    df = pd.DataFrame(data)

    return df

df4 = getdata()
df4

          จังหวัด อัตราการเข้าพักเฉลี่ย      month  year
0          กระบี่                 0.37%    สิงหาคม  2021
1          กระบี่                 7.11%    สิงหาคม  2020
2          กระบี่                47.13%    สิงหาคม  2015
3          กระบี่                47.88%    สิงหาคม  2016
4          กระบี่                48.67%    สิงหาคม  2014
...           ...                   ...        ...   ...
9157     อุดรธานี                71.00%  พฤศจิกายน  2023
9158    อุตรดิตถ์                62.72%  พฤศจิกายน  2023
9159    อุทัยธานี                54.98%  พฤศจิกายน  2023
9160  อุบลราชธานี                65.37%  พฤศจิกายน  2023
9161       บึงกาฬ                70.37%  พฤศจิกายน  2023

[9162 rows x 4 columns]

In [61]:
import pandas as pd

# สมมติว่า DataFrame ของคุณชื่อ df4
# ให้ก่อนที่จะ group by, แปลงข้อมูลในคอลัมน์ 'อัตราการเข้าพักเฉลี่ย' เป็นตัวเลข
df4['อัตราการเข้าพักเฉลี่ย'] = df4['อัตราการเข้าพักเฉลี่ย'].str.replace('%', '').astype(float)

# ต่อมา, group by ตาม 'จังหวัด' และ 'year' และหาค่าเฉลี่ยของคอลัมน์ 'อัตราการเข้าพักเฉลี่ย'
result = df4.groupby(['จังหวัด', 'year'])['อัตราการเข้าพักเฉลี่ย'].mean().reset_index()

result['อัตราการเข้าพักเฉลี่ย'] = result['อัตราการเข้าพักเฉลี่ย'] / 100

# แสดงผลลัพธ์
result

        จังหวัด  year  อัตราการเข้าพักเฉลี่ย
0        กระบี่  2014               0.619700
1        กระบี่  2015               0.614650
2        กระบี่  2016               0.612683
3        กระบี่  2017               0.639417
4        กระบี่  2018               0.661267
..          ...   ...                    ...
765  แม่ฮ่องสอน  2019               0.440967
766  แม่ฮ่องสอน  2020               0.286958
767  แม่ฮ่องสอน  2021               0.201583
768  แม่ฮ่องสอน  2022               0.430250
769  แม่ฮ่องสอน  2023               0.475627

[770 rows x 3 columns]

In [63]:
#up choose_data_avgY
import pandas as pd
import gspread
import gspread_dataframe as gd
from google.oauth2 import service_account
from datetime import datetime
def run_all():
    # ระบุขอบเขต (scope) ของการเข้าถึง Google Sheets
    SCOPES = ['https://www.googleapis.com/auth/spreadsheets']

    # อ่านข้อมูลการรับรองตัวตนจากไฟล์ "keys.json"
    creds = service_account.Credentials.from_service_account_file(
        'keys.json', scopes=SCOPES)

    # เชื่อมต่อกับ Google Sheets
    client = gspread.authorize(creds)
    
    # รหัสของ Google Spreadsheet ที่คุณต้องการใช้
    SAMPLE_SPREADSHEET_ID = '1rH68GFTtshdDNaM70TUzXuhp5_23gfOdtqP2OaceATY'

    # โหลดข้อมูลหุ้นที่คุณต้องการอัปเดต (เรียกใช้ฟังก์ชันหรือเมทอดที่ให้ข้อมูลนี้)
    filtered_data = result
    
    # เปิด Google Sheet
    sheet = client.open_by_key(SAMPLE_SPREADSHEET_ID)

    # เลือกชีทที่คุณต้องการอัปเดต (ใช้ชื่อชีทหรือดัชนีชีท)
    update_sheet = sheet.worksheet("choose_data_avgY") 

    # ลบข้อมูลในชีท (หากต้องการ)
    update_sheet.clear()

    # แปลงข้อมูล int64 เป็น strings ใน DataFrame
    #filtered_data = filtered_data.astype(str)

    # อัปเดตข้อมูลลงใน Google Sheets
    gd.set_with_dataframe(update_sheet, filtered_data)

    # พิมพ์เวลาปัจจุบัน
    print(datetime.now())

# เรียกใช้งานฟังก์ชัน run_all()
run_all()

2023-12-22 05:16:36.351677

In [ ]:
# เริ่มมมม

In [65]:
# สร้างฟังก์ชันสำหรับแปลงเปอร์เซ็นต์เป็นตัวเลข
def convert_percentage_to_float(percentage):
    return float(percentage.replace('%', ''))

# ใช้ apply() เพื่อแปลงทุกค่าในคอลัมน์
df4['อัตราการเข้าพักเฉลี่ย'] = df4['อัตราการเข้าพักเฉลี่ย'].apply(convert_percentage_to_float)

# แสดง DataFrame หลังจากการแปลงข้อมูล
df4

          จังหวัด  อัตราการเข้าพักเฉลี่ย      month  year
0          กระบี่                   0.37    สิงหาคม  2021
1          กระบี่                   7.11    สิงหาคม  2020
2          กระบี่                  47.13    สิงหาคม  2015
3          กระบี่                  47.88    สิงหาคม  2016
4          กระบี่                  48.67    สิงหาคม  2014
...           ...                    ...        ...   ...
9157     อุดรธานี                  71.00  พฤศจิกายน  2023
9158    อุตรดิตถ์                  62.72  พฤศจิกายน  2023
9159    อุทัยธานี                  54.98  พฤศจิกายน  2023
9160  อุบลราชธานี                  65.37  พฤศจิกายน  2023
9161       บึงกาฬ                  70.37  พฤศจิกายน  2023

[9162 rows x 4 columns]

In [94]:
avg_by_province_year = df4.groupby(['จังหวัด', 'year'])['อัตราการเข้าพักเฉลี่ย'].mean().reset_index()

# แสดง DataFrame ที่ได้
avg_by_province_year

        จังหวัด  year  อัตราการเข้าพักเฉลี่ย
0        กระบี่  2014              61.970000
1        กระบี่  2015              61.465000
2        กระบี่  2016              61.268333
3        กระบี่  2017              63.941667
4        กระบี่  2018              66.126667
..          ...   ...                    ...
765  แม่ฮ่องสอน  2019              44.096667
766  แม่ฮ่องสอน  2020              28.695833
767  แม่ฮ่องสอน  2021              20.158333
768  แม่ฮ่องสอน  2022              43.025000
769  แม่ฮ่องสอน  2023              47.562727

[770 rows x 3 columns]

In [95]:
avg_by_province_year['G_year'] = avg_by_province_year.groupby('จังหวัด')['อัตราการเข้าพักเฉลี่ย'].transform(lambda x: x - x.shift(1))
avg_by_province_year

        จังหวัด  year  อัตราการเข้าพักเฉลี่ย     G_year
0        กระบี่  2014              61.970000        NaN
1        กระบี่  2015              61.465000  -0.505000
2        กระบี่  2016              61.268333  -0.196667
3        กระบี่  2017              63.941667   2.673333
4        กระบี่  2018              66.126667   2.185000
..          ...   ...                    ...        ...
765  แม่ฮ่องสอน  2019              44.096667   2.247500
766  แม่ฮ่องสอน  2020              28.695833 -15.400833
767  แม่ฮ่องสอน  2021              20.158333  -8.537500
768  แม่ฮ่องสอน  2022              43.025000  22.866667
769  แม่ฮ่องสอน  2023              47.562727   4.537727

[770 rows x 4 columns]

In [68]:
# กำหนดเงื่อนไขที่ต้องการ
condition = (avg_by_province_year['G_year'] > 0) & (avg_by_province_year.groupby('จังหวัด')['จังหวัด'].transform(lambda x: x == x.shift(1)))

# สร้างคอลัมน์ใหม่ 'G_countY' เพื่อนับค่าเพิ่มขึ้นทีละ 1 ในแต่ละกลุ่ม
avg_by_province_year['G_countY'] = avg_by_province_year.groupby('จังหวัด').apply(lambda x: condition.loc[x.index].cumsum()).reset_index(level=0, drop=True)

# ตรวจสอบและกำหนดค่า "G_countY" เป็น 0 เมื่อ "G_year" น้อยกว่า 0
avg_by_province_year.loc[avg_by_province_year['G_year'] < 0, 'G_countY'] = 0


# สร้างคอลัมน์ count_GY ตามเงื่อนไขที่กำหนด
avg_by_province_year['count_GY'] = avg_by_province_year['G_countY'].apply(lambda x: 0 if x == 0 else x)

# ให้นับเลขในคอลัมน์ count_GY และเริ่มนับใหม่เมื่อค่าไม่ใช่ 0
count = 0
for i in range(len(avg_by_province_year)):
    if avg_by_province_year.loc[i, 'count_GY'] != 0:
        count += 1
        avg_by_province_year.loc[i, 'count_GY'] = count
    else:
        count = 0

avg_by_province_year = avg_by_province_year.drop('G_countY', axis=1)


avg_by_province_year.head(60)

          จังหวัด  year  อัตราการเข้าพักเฉลี่ย     G_year  count_GY
0          กระบี่  2014              61.970000        NaN         0
1          กระบี่  2015              61.465000  -0.505000         0
2          กระบี่  2016              61.268333  -0.196667         0
3          กระบี่  2017              63.941667   2.673333         1
4          กระบี่  2018              66.126667   2.185000         2
5          กระบี่  2019              66.381667   0.255000         3
6          กระบี่  2020              20.905833 -45.475833         0
7          กระบี่  2021               5.985833 -14.920000         0
8          กระบี่  2022              28.855000  22.869167         1
9          กระบี่  2023              61.040909  32.185909         2
10  กรุงเทพมหานคร  2014              65.690000        NaN         0
11  กรุงเทพมหานคร  2015              79.255000  13.565000         1
12  กรุงเทพมหานคร  2016              83.789167   4.534167         2
13  กรุงเทพมหานคร  2017              84.716667   0.927500         3
14  กรุงเทพมหานคร  2018              85.755833   1.039167         4
15  กรุงเทพมหานคร  2019              85.779167   0.023333         5
16  กรุงเทพมหานคร  2020              26.177500 -59.601667         0
17  กรุงเทพมหานคร  2021              14.539167 -11.638333         0
18  กรุงเทพมหานคร  2022              44.145833  29.606667         1
19  กรุงเทพมหานคร  2023              78.350909  34.205076         2
20      กาญจนบุรี  2014              58.535000        NaN         0
21      กาญจนบุรี  2015              59.820000   1.285000         1
22      กาญจนบุรี  2016              61.281667   1.461667         2
23      กาญจนบุรี  2017              61.815000   0.533333         3
24      กาญจนบุรี  2018              63.034167   1.219167         4
25      กาญจนบุรี  2019              59.912500  -3.121667         0
26      กาญจนบุรี  2020              43.280000 -16.632500         0
27      กาญจนบุรี  2021              25.525833 -17.754167         0
28      กาญจนบุรี  2022              59.521667  33.995833         1
29      กาญจนบุรี  2023              63.376364   3.854697         2
30      กาฬสินธุ์  2014              45.042500        NaN         0
31      กาฬสินธุ์  2015              44.314167  -0.728333         0
32      กาฬสินธุ์  2016              48.392500   4.078333         1
33      กาฬสินธุ์  2017              41.785000  -6.607500         0
34      กาฬสินธุ์  2018              38.995000  -2.790000         0
35      กาฬสินธุ์  2019              48.153333   9.158333         1
36      กาฬสินธุ์  2020              35.270000 -12.883333         0
37      กาฬสินธุ์  2021              24.624167 -10.645833         0
38      กาฬสินธุ์  2022              54.110833  29.486667         1
39      กาฬสินธุ์  2023              59.505455   5.394621         2
40      กำแพงเพชร  2014              41.053333        NaN         0
41      กำแพงเพชร  2015              42.233333   1.180000         1
42      กำแพงเพชร  2016              43.366667   1.133333         2
43      กำแพงเพชร  2017              34.562500  -8.804167         0
44      กำแพงเพชร  2018              42.033333   7.470833         1
45      กำแพงเพชร  2019              46.072500   4.039167         2
46      กำแพงเพชร  2020              29.290833 -16.781667         0
47      กำแพงเพชร  2021              14.504167 -14.786667         0
48      กำแพงเพชร  2022              29.080000  14.575833         1
49      กำแพงเพชร  2023              35.671818   6.591818         2
50        ขอนแก่น  2014              54.399167        NaN         0
51        ขอนแก่น  2015              47.675833  -6.723333         0
52        ขอนแก่น  2016              48.289167   0.613333         1
53        ขอนแก่น  2017              47.541667  -0.747500         0
54        ขอนแก่น  2018              43.987500  -3.554167         0
55        ขอนแก่น  2019              54.860000  10.872500         1
56        ขอนแก่น  2020              38.480000 -16.380000         0
57        ขอนแก่น  2021              28.505833  -9.974167         0
58        ขอนแก่น  2022              59.514167  31.008333         1
59        ขอนแก่น  2023              65.788182   6.274015         2

In [69]:
df5 = avg_by_province_year.copy()
df5

        จังหวัด  year  อัตราการเข้าพักเฉลี่ย     G_year  count_GY
0        กระบี่  2014              61.970000        NaN         0
1        กระบี่  2015              61.465000  -0.505000         0
2        กระบี่  2016              61.268333  -0.196667         0
3        กระบี่  2017              63.941667   2.673333         1
4        กระบี่  2018              66.126667   2.185000         2
..          ...   ...                    ...        ...       ...
765  แม่ฮ่องสอน  2019              44.096667   2.247500         4
766  แม่ฮ่องสอน  2020              28.695833 -15.400833         0
767  แม่ฮ่องสอน  2021              20.158333  -8.537500         0
768  แม่ฮ่องสอน  2022              43.025000  22.866667         1
769  แม่ฮ่องสอน  2023              47.562727   4.537727         2

[770 rows x 5 columns]

In [70]:
# สร้างคอลัมน์ 'avg_by_province_year'
df5['avg_by_province_year'] = 0

# หากค่าใน 'count_GY' เป็น 0 ให้ 'avg_by_province_year' เป็น 0
# หากพบ 1, 2, 3, ... ใน 'count_GY' ใหม่ ให้เริ่มรวม 'G_year' ใหม่
current_sum = 0
for index, row in df5.iterrows():
    if row['count_GY'] == 0:
        df5.at[index, 'avg_by_province_year'] = 0
        current_sum = 0
    else:
        current_sum += row['G_year']
        df5.at[index, 'avg_by_province_year'] = current_sum

df5.head(60)

,จังหวัด,year,อัตราการเข้าพักเฉลี่ย,G_year,count_GY,avg_by_province_year
0,กระบี่,2014,61.970000,NaN,0,0.000000
1,กระบี่,2015,61.465000,-0.505000,0,0.000000
2,กระบี่,2016,61.268333,-0.196667,0,0.000000
3,กระบี่,2017,63.941667,2.673333,1,2.673333
4,กระบี่,2018,66.126667,2.185000,2,4.858333
5,กระบี่,2019,66.381667,0.255000,3,5.113333
6,กระบี่,2020,20.905833,-45.475833,0,0.000000
7,กระบี่,2021,5.985833,-14.920000,0,0.000000
8,กระบี่,2022,28.855000,22.869167,1,22.869167
9,กระบี่,2023,61.040909,32.185909,2,55.055076
10,กรุงเทพมหานคร,2014,65.690000,NaN,0,0.000000
11,กรุงเทพมหานคร,2015,79.255000,13.565000,1,13.565000
12,กรุงเทพมหานคร,2016,83.789167,4.534167,2,18.099167
13,กรุงเทพมหานคร,2017,84.716667,0.927500,3,19.026667
14,กรุงเทพมหานคร,2018,85.755833,1.039167,4,20.065833
15,กรุงเทพมหานคร,2019,85.779167,0.023333,5,20.089167
16,กรุงเทพมหานคร,2020,26.177500,-59.601667,0,0.000000
17,กรุงเทพมหานคร,2021,14.539167,-11.638333,0,0.000000
18,กรุงเทพมหานคร,2022,44.145833,29.606667,1,29.606667
19,กรุงเทพมหานคร,2023,78.350909,34.205076,2,63.811742
20,กาญจนบุรี,2014,58.535000,NaN,0,0.000000
21,กาญจนบุรี,2015,59.820000,1.285000,1,1.285000
22,กาญจนบุรี,2016,61.281667,1.461667,2,2.746667
23,กาญจนบุรี,2017,61.815000,0.533333,3,3.280000
24,กาญจนบุรี,2018,63.034167,1.219167,4,4.499167
25,กาญจนบุรี,2019,59.912500,-3.121667,0,0.000000
26,กาญจนบุรี,2020,43.280000,-16.632500,0,0.000000
27,กาญจนบุรี,2021,25.525833,-17.754167,0,0.000000
28,กาญจนบุรี,2022,59.521667,33.995833,1,33.995833
29,กาญจนบุรี,2023,63.376364,3.854697,2,37.850530
30,กาฬสินธุ์,2014,45.042500,NaN,0,0.000000
31,กาฬสินธุ์,2015,44.314167,-0.728333,0,0.000000
32,กาฬสินธุ์,2016,48.392500,4.078333,1,4.078333
33,กาฬสินธุ์,2017,41.785000,-6.607500,0,0.000000
34,กาฬสินธุ์,2018,38.995000,-2.790000,0,0.000000
35,กาฬสินธุ์,2019,48.153333,9.158333,1,9.158333
36,กาฬสินธุ์,2020,35.270000,-12.883333,0,0.000000
37,กาฬสินธุ์,2021,24.624167,-10.645833,0,0.000000
38,กาฬสินธุ์,2022,54.110833,29.486667,1,29.486667
39,กาฬสินธุ์,2023,59.505455,5.394621,2,34.881288
40,กำแพงเพชร,2014,41.053333,NaN,0,0.000000
41,กำแพงเพชร,2015,42.233333,1.180000,1,1.180000
42,กำแพงเพชร,2016,43.366667,1.133333,2,2.313333
43,กำแพงเพชร,2017,34.562500,-8.804167,0,0.000000
44,กำแพงเพชร,2018,42.033333,7.470833,1,7.470833
45,กำแพงเพชร,2019,46.072500,4.039167,2,11.510000
46,กำแพงเพชร,2020,29.290833,-16.781667,0,0.000000
47,กำแพงเพชร,2021,14.504167,-14.786667,0,0.000000
48,กำแพงเพชร,2022,29.080000,14.575833,1,14.575833
49,กำแพงเพชร,2023,35.671818,6.591818,2,21.167652
50,ขอนแก่น,2014,54.399167,NaN,0,0.000000
51,ขอนแก่น,2015,47.675833,-6.723333,0,0.000000
52,ขอนแก่น,2016,48.289167,0.613333,1,0.613333
53,ขอนแก่น,2017,47.541667,-0.747500,0,0.000000
54,ขอนแก่น,2018,43.987500,-3.554167,0,0.000000
55,ขอนแก่น,2019,54.860000,10.872500,1,10.872500
56,ขอนแก่น,2020,38.480000,-16.380000,0,0.000000
57,ขอนแก่น,2021,28.505833,-9.974167,0,0.000000
58,ขอนแก่น,2022,59.514167,31.008333,1,31.008333
59,ขอนแก่น,2023,65.788182,6.274015,2,37.282348

In [73]:
max_count_GY_value = df5['count_GY'].max()
result_max_count_GY = df5[df5['count_GY'] == max_count_GY_value]

result_max_count_GY = result_max_count_GY.sort_values(by='avg_by_province_year', ascending=False)

# แสดง DataFrame ที่ count_GY มีค่ามากสุด
result_max_count_GY

,จังหวัด,year,อัตราการเข้าพักเฉลี่ย,G_year,count_GY,avg_by_province_year
255,บุรีรัมย์,2019,69.769167,12.648333,5,29.327500
705,เชียงราย,2019,54.480000,3.281667,5,20.990000
15,กรุงเทพมหานคร,2019,85.779167,0.023333,5,20.089167
115,ชุมพร,2019,73.269167,2.138333,5,19.298333
215,นนทบุรี,2019,76.444167,3.947500,5,17.278333
625,หนองคาย,2019,63.540833,1.404167,5,16.858333
435,ราชบุรี,2019,70.508333,5.057500,5,15.274167
185,นครราชสีมา,2019,69.949167,1.850833,5,14.172500
655,อุดรธานี,2019,63.878333,1.972500,5,14.007500
105,ชัยภูมิ,2019,57.420000,1.078333,5,13.498333
515,สตูล,2019,67.992500,2.805833,5,10.909167
725,เพชรบุรี,2019,77.374167,1.570000,5,10.766667
175,นครพนม,2019,64.173333,1.641667,5,10.418333
245,บึงกาฬ,2019,55.146667,1.181667,5,9.423333
305,พระนครศรีอยุธยา,2019,83.188333,0.553333,5,8.662500
495,สกลนคร,2019,59.896667,3.011667,5,8.409167
385,มุกดาหาร,2019,57.562500,2.545833,5,7.652500

In [283]:
#growth_plus_increase
import pandas as pd
import gspread
import gspread_dataframe as gd
from google.oauth2 import service_account
from datetime import datetime
def run_all():
    # ระบุขอบเขต (scope) ของการเข้าถึง Google Sheets
    SCOPES = ['https://www.googleapis.com/auth/spreadsheets']

    # อ่านข้อมูลการรับรองตัวตนจากไฟล์ "keys.json"
    creds = service_account.Credentials.from_service_account_file(
        'keys.json', scopes=SCOPES)

    # เชื่อมต่อกับ Google Sheets
    client = gspread.authorize(creds)
    
    # รหัสของ Google Spreadsheet ที่คุณต้องการใช้
    SAMPLE_SPREADSHEET_ID = '1rH68GFTtshdDNaM70TUzXuhp5_23gfOdtqP2OaceATY'

    # โหลดข้อมูลหุ้นที่คุณต้องการอัปเดต (เรียกใช้ฟังก์ชันหรือเมทอดที่ให้ข้อมูลนี้)
    filtered_data = result_max_count_GY
    
    # เปิด Google Sheet
    sheet = client.open_by_key(SAMPLE_SPREADSHEET_ID)

    # เลือกชีทที่คุณต้องการอัปเดต (ใช้ชื่อชีทหรือดัชนีชีท)
    update_sheet = sheet.worksheet("growth_plus_increase") 

    # ลบข้อมูลในชีท (หากต้องการ)
    update_sheet.clear()

    # แปลงข้อมูล int64 เป็น strings ใน DataFrame
    #filtered_data = filtered_data.astype(str)

    # อัปเดตข้อมูลลงใน Google Sheets
    gd.set_with_dataframe(update_sheet, filtered_data)

    # พิมพ์เวลาปัจจุบัน
    print(datetime.now())

# เรียกใช้งานฟังก์ชัน run_all()
run_all()

2023-12-21 18:18:03.843164

In [238]:
#ได้ข่้อมูลว่าจังหวัดตามนี้มี growth ต่อเนื่องสูงสุด 5 ปี 
# หาต่อว่าจังหวัดใด growth สูงสุด

#จากข้อมูลจะเห็นว่ามีการการ growth ต่อเนื่องสูงสุด 5 ปึ สิ้นสุดแค่ปี 2019

In [271]:
result_max_count_GY.dtypes

จังหวัด                   object
year                       int64
อัตราการเข้าพักเฉลี่ย    float64
G_year                   float64
count_GY                   int64
dtype: object

In [ ]:
#ดูที่ >2019

In [81]:
df5

,จังหวัด,year,อัตราการเข้าพักเฉลี่ย,G_year,count_GY,avg_by_province_year
0,กระบี่,2014,61.970000,NaN,0,0.000000
1,กระบี่,2015,61.465000,-0.505000,0,0.000000
2,กระบี่,2016,61.268333,-0.196667,0,0.000000
3,กระบี่,2017,63.941667,2.673333,1,2.673333
4,กระบี่,2018,66.126667,2.185000,2,4.858333
...,...,...,...,...,...,...
765,แม่ฮ่องสอน,2019,44.096667,2.247500,4,8.335833
766,แม่ฮ่องสอน,2020,28.695833,-15.400833,0,0.000000
767,แม่ฮ่องสอน,2021,20.158333,-8.537500,0,0.000000
768,แม่ฮ่องสอน,2022,43.025000,22.866667,1,22.866667
769,แม่ฮ่องสอน,2023,47.562727,4.537727,2,27.404394

In [85]:
# สร้างเงื่อนไขการกรอง
condition = df6['year'].isin([2020, 2021, 2022, 2023])

# กรองข้อมูล
df6 = df6[condition]
df6

,จังหวัด,year,อัตราการเข้าพักเฉลี่ย,G_year,count_GY,avg_by_province_year
6,กระบี่,2020,20.905833,-45.475833,0,0.000000
7,กระบี่,2021,5.985833,-14.920000,0,0.000000
8,กระบี่,2022,28.855000,22.869167,1,22.869167
9,กระบี่,2023,61.040909,32.185909,2,55.055076
16,กรุงเทพมหานคร,2020,26.177500,-59.601667,0,0.000000
...,...,...,...,...,...,...
759,แพร่,2023,60.250909,2.978409,2,38.278409
766,แม่ฮ่องสอน,2020,28.695833,-15.400833,0,0.000000
767,แม่ฮ่องสอน,2021,20.158333,-8.537500,0,0.000000
768,แม่ฮ่องสอน,2022,43.025000,22.866667,1,22.866667
769,แม่ฮ่องสอน,2023,47.562727,4.537727,2,27.404394

In [91]:
max_count_GY_value2 = df6['count_GY'].max()
result_max_count_GY2 = df6[df6['count_GY'] == max_count_GY_value2]

result_max_count_GY2 = result_max_count_GY2.sort_values(by='avg_by_province_year', ascending=False)

result_max_count_GY2['avg_by_province_year'] = result_max_count_GY2['avg_by_province_year']/ 100

# แสดง DataFrame ที่ count_GY มีค่ามากสุด
result_max_count_GY2

,จังหวัด,year,อัตราการเข้าพักเฉลี่ย,G_year,count_GY,avg_by_province_year
509,สงขลา,2023,71.399091,33.814924,2,0.659583
369,ภูเก็ต,2023,73.470000,30.890833,2,0.643883
19,กรุงเทพมหานคร,2023,78.350909,34.205076,2,0.638117
89,ชลบุรี,2023,72.529091,24.578258,2,0.634258
599,สุราษฎร์ธานี,2023,66.225455,22.719621,2,0.605071
...,...,...,...,...,...,...
519,สตูล,2023,48.540000,0.159167,2,0.239742
69,จันทบุรี,2023,53.927273,1.789773,2,0.228098
359,พิษณุโลก,2023,51.440909,4.072576,2,0.216784
49,กำแพงเพชร,2023,35.671818,6.591818,2,0.211677
619,สุโขทัย,2023,34.210000,2.042500,2,0.203892

In [92]:
#growth_plus_increase
import pandas as pd
import gspread
import gspread_dataframe as gd
from google.oauth2 import service_account
from datetime import datetime
def run_all():
    # ระบุขอบเขต (scope) ของการเข้าถึง Google Sheets
    SCOPES = ['https://www.googleapis.com/auth/spreadsheets']

    # อ่านข้อมูลการรับรองตัวตนจากไฟล์ "keys.json"
    creds = service_account.Credentials.from_service_account_file(
        'keys.json', scopes=SCOPES)

    # เชื่อมต่อกับ Google Sheets
    client = gspread.authorize(creds)
    
    # รหัสของ Google Spreadsheet ที่คุณต้องการใช้
    SAMPLE_SPREADSHEET_ID = '1rH68GFTtshdDNaM70TUzXuhp5_23gfOdtqP2OaceATY'

    # โหลดข้อมูลหุ้นที่คุณต้องการอัปเดต (เรียกใช้ฟังก์ชันหรือเมทอดที่ให้ข้อมูลนี้)
    filtered_data = result_max_count_GY2
    
    # เปิด Google Sheet
    sheet = client.open_by_key(SAMPLE_SPREADSHEET_ID)

    # เลือกชีทที่คุณต้องการอัปเดต (ใช้ชื่อชีทหรือดัชนีชีท)
    update_sheet = sheet.worksheet("growth_plus_increase2") 

    # ลบข้อมูลในชีท (หากต้องการ)
    update_sheet.clear()

    # แปลงข้อมูล int64 เป็น strings ใน DataFrame
    #filtered_data = filtered_data.astype(str)

    # อัปเดตข้อมูลลงใน Google Sheets
    gd.set_with_dataframe(update_sheet, filtered_data)

    # พิมพ์เวลาปัจจุบัน
    print(datetime.now())

# เรียกใช้งานฟังก์ชัน run_all()
run_all()

2023-12-22 05:54:53.214866

In [ ]:
#หา growth ต่ำสุด

In [96]:
avg_by_province_year['G_year'] = avg_by_province_year.groupby('จังหวัด')['อัตราการเข้าพักเฉลี่ย'].transform(lambda x: x - x.shift(1))
avg_by_province_year

        จังหวัด  year  อัตราการเข้าพักเฉลี่ย     G_year
0        กระบี่  2014              61.970000        NaN
1        กระบี่  2015              61.465000  -0.505000
2        กระบี่  2016              61.268333  -0.196667
3        กระบี่  2017              63.941667   2.673333
4        กระบี่  2018              66.126667   2.185000
..          ...   ...                    ...        ...
765  แม่ฮ่องสอน  2019              44.096667   2.247500
766  แม่ฮ่องสอน  2020              28.695833 -15.400833
767  แม่ฮ่องสอน  2021              20.158333  -8.537500
768  แม่ฮ่องสอน  2022              43.025000  22.866667
769  แม่ฮ่องสอน  2023              47.562727   4.537727

[770 rows x 4 columns]

In [97]:
# กำหนดเงื่อนไขที่ต้องการ
condition = (avg_by_province_year['G_year'] < 0) & (avg_by_province_year.groupby('จังหวัด')['จังหวัด'].transform(lambda x: x == x.shift(1)))

# สร้างคอลัมน์ใหม่ 'G_countY' เพื่อนับค่าเพิ่มขึ้นทีละ 1 ในแต่ละกลุ่ม
avg_by_province_year['G_countY'] = avg_by_province_year.groupby('จังหวัด').apply(lambda x: condition.loc[x.index].cumsum()).reset_index(level=0, drop=True)

# ตรวจสอบและกำหนดค่า "G_countY" เป็น 0 เมื่อ "G_year" น้อยกว่า 0
avg_by_province_year.loc[avg_by_province_year['G_year'] >= 0, 'G_countY'] = 0


# สร้างคอลัมน์ count_GY ตามเงื่อนไขที่กำหนด
avg_by_province_year['count_GY'] = avg_by_province_year['G_countY'].apply(lambda x: 0 if x == 0 else x)

# ให้นับเลขในคอลัมน์ count_GY และเริ่มนับใหม่เมื่อค่าไม่ใช่ 0
count = 0
for i in range(len(avg_by_province_year)):
    if avg_by_province_year.loc[i, 'count_GY'] != 0:
        count += 1
        avg_by_province_year.loc[i, 'count_GY'] = count
    else:
        count = 0

avg_by_province_year = avg_by_province_year.drop('G_countY', axis=1)


avg_by_province_year.head(60)

          จังหวัด  year  อัตราการเข้าพักเฉลี่ย     G_year  count_GY
0          กระบี่  2014              61.970000        NaN         0
1          กระบี่  2015              61.465000  -0.505000         1
2          กระบี่  2016              61.268333  -0.196667         2
3          กระบี่  2017              63.941667   2.673333         0
4          กระบี่  2018              66.126667   2.185000         0
5          กระบี่  2019              66.381667   0.255000         0
6          กระบี่  2020              20.905833 -45.475833         1
7          กระบี่  2021               5.985833 -14.920000         2
8          กระบี่  2022              28.855000  22.869167         0
9          กระบี่  2023              61.040909  32.185909         0
10  กรุงเทพมหานคร  2014              65.690000        NaN         0
11  กรุงเทพมหานคร  2015              79.255000  13.565000         0
12  กรุงเทพมหานคร  2016              83.789167   4.534167         0
13  กรุงเทพมหานคร  2017              84.716667   0.927500         0
14  กรุงเทพมหานคร  2018              85.755833   1.039167         0
15  กรุงเทพมหานคร  2019              85.779167   0.023333         0
16  กรุงเทพมหานคร  2020              26.177500 -59.601667         1
17  กรุงเทพมหานคร  2021              14.539167 -11.638333         2
18  กรุงเทพมหานคร  2022              44.145833  29.606667         0
19  กรุงเทพมหานคร  2023              78.350909  34.205076         0
20      กาญจนบุรี  2014              58.535000        NaN         0
21      กาญจนบุรี  2015              59.820000   1.285000         0
22      กาญจนบุรี  2016              61.281667   1.461667         0
23      กาญจนบุรี  2017              61.815000   0.533333         0
24      กาญจนบุรี  2018              63.034167   1.219167         0
25      กาญจนบุรี  2019              59.912500  -3.121667         1
26      กาญจนบุรี  2020              43.280000 -16.632500         2
27      กาญจนบุรี  2021              25.525833 -17.754167         3
28      กาญจนบุรี  2022              59.521667  33.995833         0
29      กาญจนบุรี  2023              63.376364   3.854697         0
30      กาฬสินธุ์  2014              45.042500        NaN         0
31      กาฬสินธุ์  2015              44.314167  -0.728333         1
32      กาฬสินธุ์  2016              48.392500   4.078333         0
33      กาฬสินธุ์  2017              41.785000  -6.607500         1
34      กาฬสินธุ์  2018              38.995000  -2.790000         2
35      กาฬสินธุ์  2019              48.153333   9.158333         0
36      กาฬสินธุ์  2020              35.270000 -12.883333         1
37      กาฬสินธุ์  2021              24.624167 -10.645833         2
38      กาฬสินธุ์  2022              54.110833  29.486667         0
39      กาฬสินธุ์  2023              59.505455   5.394621         0
40      กำแพงเพชร  2014              41.053333        NaN         0
41      กำแพงเพชร  2015              42.233333   1.180000         0
42      กำแพงเพชร  2016              43.366667   1.133333         0
43      กำแพงเพชร  2017              34.562500  -8.804167         1
44      กำแพงเพชร  2018              42.033333   7.470833         0
45      กำแพงเพชร  2019              46.072500   4.039167         0
46      กำแพงเพชร  2020              29.290833 -16.781667         1
47      กำแพงเพชร  2021              14.504167 -14.786667         2
48      กำแพงเพชร  2022              29.080000  14.575833         0
49      กำแพงเพชร  2023              35.671818   6.591818         0
50        ขอนแก่น  2014              54.399167        NaN         0
51        ขอนแก่น  2015              47.675833  -6.723333         1
52        ขอนแก่น  2016              48.289167   0.613333         0
53        ขอนแก่น  2017              47.541667  -0.747500         1
54        ขอนแก่น  2018              43.987500  -3.554167         2
55        ขอนแก่น  2019              54.860000  10.872500         0
56        ขอนแก่น  2020              38.480000 -16.380000         1
57        ขอนแก่น  2021              28.505833  -9.974167         2
58        ขอนแก่น  2022              59.514167  31.008333         0
59        ขอนแก่น  2023              65.788182   6.274015         0

In [98]:
df7 = avg_by_province_year.copy()

In [99]:
# สร้างคอลัมน์ 'avg_by_province_year'
df7['avg_by_province_year'] = 0

# หากค่าใน 'count_GY' เป็น 0 ให้ 'avg_by_province_year' เป็น 0
# หากพบ 1, 2, 3, ... ใน 'count_GY' ใหม่ ให้เริ่มรวม 'G_year' ใหม่
current_sum = 0
for index, row in df7.iterrows():
    if row['count_GY'] == 0:
        df7.at[index, 'avg_by_province_year'] = 0
        current_sum = 0
    else:
        current_sum += row['G_year']
        df7.at[index, 'avg_by_province_year'] = current_sum

df7.head(60)

,จังหวัด,year,อัตราการเข้าพักเฉลี่ย,G_year,count_GY,avg_by_province_year
0,กระบี่,2014,61.970000,NaN,0,0.000000
1,กระบี่,2015,61.465000,-0.505000,1,-0.505000
2,กระบี่,2016,61.268333,-0.196667,2,-0.701667
3,กระบี่,2017,63.941667,2.673333,0,0.000000
4,กระบี่,2018,66.126667,2.185000,0,0.000000
5,กระบี่,2019,66.381667,0.255000,0,0.000000
6,กระบี่,2020,20.905833,-45.475833,1,-45.475833
7,กระบี่,2021,5.985833,-14.920000,2,-60.395833
8,กระบี่,2022,28.855000,22.869167,0,0.000000
9,กระบี่,2023,61.040909,32.185909,0,0.000000
10,กรุงเทพมหานคร,2014,65.690000,NaN,0,0.000000
11,กรุงเทพมหานคร,2015,79.255000,13.565000,0,0.000000
12,กรุงเทพมหานคร,2016,83.789167,4.534167,0,0.000000
13,กรุงเทพมหานคร,2017,84.716667,0.927500,0,0.000000
14,กรุงเทพมหานคร,2018,85.755833,1.039167,0,0.000000
15,กรุงเทพมหานคร,2019,85.779167,0.023333,0,0.000000
16,กรุงเทพมหานคร,2020,26.177500,-59.601667,1,-59.601667
17,กรุงเทพมหานคร,2021,14.539167,-11.638333,2,-71.240000
18,กรุงเทพมหานคร,2022,44.145833,29.606667,0,0.000000
19,กรุงเทพมหานคร,2023,78.350909,34.205076,0,0.000000
20,กาญจนบุรี,2014,58.535000,NaN,0,0.000000
21,กาญจนบุรี,2015,59.820000,1.285000,0,0.000000
22,กาญจนบุรี,2016,61.281667,1.461667,0,0.000000
23,กาญจนบุรี,2017,61.815000,0.533333,0,0.000000
24,กาญจนบุรี,2018,63.034167,1.219167,0,0.000000
25,กาญจนบุรี,2019,59.912500,-3.121667,1,-3.121667
26,กาญจนบุรี,2020,43.280000,-16.632500,2,-19.754167
27,กาญจนบุรี,2021,25.525833,-17.754167,3,-37.508333
28,กาญจนบุรี,2022,59.521667,33.995833,0,0.000000
29,กาญจนบุรี,2023,63.376364,3.854697,0,0.000000
30,กาฬสินธุ์,2014,45.042500,NaN,0,0.000000
31,กาฬสินธุ์,2015,44.314167,-0.728333,1,-0.728333
32,กาฬสินธุ์,2016,48.392500,4.078333,0,0.000000
33,กาฬสินธุ์,2017,41.785000,-6.607500,1,-6.607500
34,กาฬสินธุ์,2018,38.995000,-2.790000,2,-9.397500
35,กาฬสินธุ์,2019,48.153333,9.158333,0,0.000000
36,กาฬสินธุ์,2020,35.270000,-12.883333,1,-12.883333
37,กาฬสินธุ์,2021,24.624167,-10.645833,2,-23.529167
38,กาฬสินธุ์,2022,54.110833,29.486667,0,0.000000
39,กาฬสินธุ์,2023,59.505455,5.394621,0,0.000000
40,กำแพงเพชร,2014,41.053333,NaN,0,0.000000
41,กำแพงเพชร,2015,42.233333,1.180000,0,0.000000
42,กำแพงเพชร,2016,43.366667,1.133333,0,0.000000
43,กำแพงเพชร,2017,34.562500,-8.804167,1,-8.804167
44,กำแพงเพชร,2018,42.033333,7.470833,0,0.000000
45,กำแพงเพชร,2019,46.072500,4.039167,0,0.000000
46,กำแพงเพชร,2020,29.290833,-16.781667,1,-16.781667
47,กำแพงเพชร,2021,14.504167,-14.786667,2,-31.568333
48,กำแพงเพชร,2022,29.080000,14.575833,0,0.000000
49,กำแพงเพชร,2023,35.671818,6.591818,0,0.000000
50,ขอนแก่น,2014,54.399167,NaN,0,0.000000
51,ขอนแก่น,2015,47.675833,-6.723333,1,-6.723333
52,ขอนแก่น,2016,48.289167,0.613333,0,0.000000
53,ขอนแก่น,2017,47.541667,-0.747500,1,-0.747500
54,ขอนแก่น,2018,43.987500,-3.554167,2,-4.301667
55,ขอนแก่น,2019,54.860000,10.872500,0,0.000000
56,ขอนแก่น,2020,38.480000,-16.380000,1,-16.380000
57,ขอนแก่น,2021,28.505833,-9.974167,2,-26.354167
58,ขอนแก่น,2022,59.514167,31.008333,0,0.000000
59,ขอนแก่น,2023,65.788182,6.274015,0,0.000000

In [100]:
max_count_GY_value = df7['count_GY'].max()
result_max_count_GY = df7[df7['count_GY'] == max_count_GY_value]

result_max_count_GY = result_max_count_GY.sort_values(by='avg_by_province_year', ascending=False)

# แสดง DataFrame ที่ count_GY มีค่ามากสุด
result_max_count_GY

,จังหวัด,year,อัตราการเข้าพักเฉลี่ย,G_year,count_GY,avg_by_province_year
337,พัทลุง,2021,11.8975,-23.258333,6,-50.3375

In [108]:
condition = (df7['count_GY'].isin([4, 5, 6]))

# กรองข้อมูล
filtered_df7 = df7[condition]
max_count_df7 = filtered_df7.loc[filtered_df7.groupby('จังหวัด')['count_GY'].idxmax()]

# แสดงผลลัพธ์
max_count_df7

,จังหวัด,year,อัตราการเข้าพักเฉลี่ย,G_year,count_GY,avg_by_province_year
97,ชัยนาท,2021,30.640000,-18.459167,5,-55.172500
327,พังงา,2021,11.156667,-12.240833,5,-48.983333
337,พัทลุง,2021,11.897500,-23.258333,6,-50.337500
527,สมุทรปราการ,2021,9.952500,-14.427500,4,-60.321667
587,สุพรรณบุรี,2021,31.593333,-24.930000,4,-57.177500
647,อำนาจเจริญ,2021,18.050833,-15.421667,4,-39.101667

In [109]:
#growth_plus_increase
import pandas as pd
import gspread
import gspread_dataframe as gd
from google.oauth2 import service_account
from datetime import datetime
def run_all():
    # ระบุขอบเขต (scope) ของการเข้าถึง Google Sheets
    SCOPES = ['https://www.googleapis.com/auth/spreadsheets']

    # อ่านข้อมูลการรับรองตัวตนจากไฟล์ "keys.json"
    creds = service_account.Credentials.from_service_account_file(
        'keys.json', scopes=SCOPES)

    # เชื่อมต่อกับ Google Sheets
    client = gspread.authorize(creds)
    
    # รหัสของ Google Spreadsheet ที่คุณต้องการใช้
    SAMPLE_SPREADSHEET_ID = '1rH68GFTtshdDNaM70TUzXuhp5_23gfOdtqP2OaceATY'

    # โหลดข้อมูลหุ้นที่คุณต้องการอัปเดต (เรียกใช้ฟังก์ชันหรือเมทอดที่ให้ข้อมูลนี้)
    filtered_data = max_count_df7
    
    # เปิด Google Sheet
    sheet = client.open_by_key(SAMPLE_SPREADSHEET_ID)

    # เลือกชีทที่คุณต้องการอัปเดต (ใช้ชื่อชีทหรือดัชนีชีท)
    update_sheet = sheet.worksheet("growth_decrease") 

    # ลบข้อมูลในชีท (หากต้องการ)
    update_sheet.clear()

    # แปลงข้อมูล int64 เป็น strings ใน DataFrame
    #filtered_data = filtered_data.astype(str)

    # อัปเดตข้อมูลลงใน Google Sheets
    gd.set_with_dataframe(update_sheet, filtered_data)

    # พิมพ์เวลาปัจจุบัน
    print(datetime.now())

# เรียกใช้งานฟังก์ชัน run_all()
run_all()

2023-12-22 06:57:17.848775

In [137]:
#up choose_data
import gspread
from google.oauth2.service_account import Credentials
from datetime import datetime, timedelta
def getdata():
    # โหลดข้อมูลรับรอง JSON จากไฟล์ที่คุณดาวน์โหลด
    credentials = Credentials.from_service_account_file('keys.json', scopes=['https://spreadsheets.google.com/feeds', 'https://www.googleapis.com/auth/drive'])

    # ตั้งค่าการเชื่อมต่อ gspread ด้วยข้อมูลรับรอง
    gc = gspread.service_account(filename='keys.json')

    # เปิดสเปรดชีตของ Google Sheets โดยใช้ชื่อหรือ URL
    spreadsheet = gc.open('interstat_tat')
 
    # เลือกชีตที่ต้องการใน Google Sheets
    worksheet = spreadsheet.worksheet('choose_data_avgY')

    # อ่านข้อมูลจากชีตเป็นรายการของดิกชันนารี
    data = worksheet.get_all_records()

    # สร้าง DataFrame จากข้อมูล
    df = pd.DataFrame(data)

    return df

cal = getdata()
cal

          จังหวัด  year อัตราการเข้าพักเฉลี่ย
0      สุพรรณบุรี  2014                89.39%
1      สุพรรณบุรี  2017                88.77%
2      สุพรรณบุรี  2018                88.67%
3         อ่างทอง  2014                88.64%
4      สุพรรณบุรี  2019                88.40%
..            ...   ...                   ...
765        ภูเก็ต  2021                 9.08%
766        กระบี่  2021                 5.99%
767   หนองบัวลำภู  2021                 5.93%
768  สุราษฎร์ธานี  2021                 5.72%
769         สงขลา  2021                 5.44%

[770 rows x 3 columns]

In [138]:
# สร้างฟังก์ชันสำหรับแปลงเปอร์เซ็นต์เป็นตัวเลข
def convert_percentage_to_float(percentage):
    return float(percentage.replace('%', ''))

# ใช้ apply() เพื่อแปลงทุกค่าในคอลัมน์
cal['อัตราการเข้าพักเฉลี่ย'] = cal['อัตราการเข้าพักเฉลี่ย'].apply(convert_percentage_to_float)

cal['อัตราการเข้าพักเฉลี่ย'] = cal['อัตราการเข้าพักเฉลี่ย']/ 100

# แสดง DataFrame หลังจากการแปลงข้อมูล
cal

          จังหวัด  year  อัตราการเข้าพักเฉลี่ย
0      สุพรรณบุรี  2014                 0.8939
1      สุพรรณบุรี  2017                 0.8877
2      สุพรรณบุรี  2018                 0.8867
3         อ่างทอง  2014                 0.8864
4      สุพรรณบุรี  2019                 0.8840
..            ...   ...                    ...
765        ภูเก็ต  2021                 0.0908
766        กระบี่  2021                 0.0599
767   หนองบัวลำภู  2021                 0.0593
768  สุราษฎร์ธานี  2021                 0.0572
769         สงขลา  2021                 0.0544

[770 rows x 3 columns]

In [139]:
cal_sorted = cal.sort_values(by=['จังหวัด', 'year'])
cal_sorted

        จังหวัด  year  อัตราการเข้าพักเฉลี่ย
223      กระบี่  2014                 0.6197
233      กระบี่  2015                 0.6147
236      กระบี่  2016                 0.6127
191      กระบี่  2017                 0.6394
160      กระบี่  2018                 0.6613
..          ...   ...                    ...
564  แม่ฮ่องสอน  2019                 0.4410
689  แม่ฮ่องสอน  2020                 0.2870
737  แม่ฮ่องสอน  2021                 0.2016
577  แม่ฮ่องสอน  2022                 0.4303
534  แม่ฮ่องสอน  2023                 0.4756

[770 rows x 3 columns]

In [140]:
cal_sorted['growth_1Y'] = cal_sorted.groupby('จังหวัด')['อัตราการเข้าพักเฉลี่ย'].transform(lambda x: x - x.shift(1))

cal_sorted['growth_2Y'] = cal_sorted.groupby('จังหวัด')['อัตราการเข้าพักเฉลี่ย'].transform(lambda x: x - x.shift(2))


cal_sorted['growth_3Y'] = cal_sorted.groupby('จังหวัด')['อัตราการเข้าพักเฉลี่ย'].transform(lambda x: x - x.shift(3))




cal_sorted

        จังหวัด  year  อัตราการเข้าพักเฉลี่ย  growth_1Y  growth_2Y  growth_3Y
223      กระบี่  2014                 0.6197        NaN        NaN        NaN
233      กระบี่  2015                 0.6147    -0.0050        NaN        NaN
236      กระบี่  2016                 0.6127    -0.0020    -0.0070        NaN
191      กระบี่  2017                 0.6394     0.0267     0.0247     0.0197
160      กระบี่  2018                 0.6613     0.0219     0.0486     0.0466
..          ...   ...                    ...        ...        ...        ...
564  แม่ฮ่องสอน  2019                 0.4410     0.0225     0.0373     0.0753
689  แม่ฮ่องสอน  2020                 0.2870    -0.1540    -0.1315    -0.1167
737  แม่ฮ่องสอน  2021                 0.2016    -0.0854    -0.2394    -0.2169
577  แม่ฮ่องสอน  2022                 0.4303     0.2287     0.1433    -0.0107
534  แม่ฮ่องสอน  2023                 0.4756     0.0453     0.2740     0.1886

[770 rows x 6 columns]

In [141]:
#growth_plus_increase
import pandas as pd
import gspread
import gspread_dataframe as gd
from google.oauth2 import service_account
from datetime import datetime
def run_all():
    # ระบุขอบเขต (scope) ของการเข้าถึง Google Sheets
    SCOPES = ['https://www.googleapis.com/auth/spreadsheets']

    # อ่านข้อมูลการรับรองตัวตนจากไฟล์ "keys.json"
    creds = service_account.Credentials.from_service_account_file(
        'keys.json', scopes=SCOPES)

    # เชื่อมต่อกับ Google Sheets
    client = gspread.authorize(creds)
    
    # รหัสของ Google Spreadsheet ที่คุณต้องการใช้
    SAMPLE_SPREADSHEET_ID = '1rH68GFTtshdDNaM70TUzXuhp5_23gfOdtqP2OaceATY'

    # โหลดข้อมูลหุ้นที่คุณต้องการอัปเดต (เรียกใช้ฟังก์ชันหรือเมทอดที่ให้ข้อมูลนี้)
    filtered_data = cal_sorted
    
    # เปิด Google Sheet
    sheet = client.open_by_key(SAMPLE_SPREADSHEET_ID)

    # เลือกชีทที่คุณต้องการอัปเดต (ใช้ชื่อชีทหรือดัชนีชีท)
    update_sheet = sheet.worksheet("growth_1Y,2Y,3Y") 

    # ลบข้อมูลในชีท (หากต้องการ)
    update_sheet.clear()

    # แปลงข้อมูล int64 เป็น strings ใน DataFrame
    #filtered_data = filtered_data.astype(str)

    # อัปเดตข้อมูลลงใน Google Sheets
    gd.set_with_dataframe(update_sheet, filtered_data)

    # พิมพ์เวลาปัจจุบัน
    print(datetime.now())

# เรียกใช้งานฟังก์ชัน run_all()
run_all()

2023-12-22 07:32:04.350164

In [12]:
#up choose_data
import gspread
from google.oauth2.service_account import Credentials
from datetime import datetime, timedelta
def getdata():
    # โหลดข้อมูลรับรอง JSON จากไฟล์ที่คุณดาวน์โหลด
    credentials = Credentials.from_service_account_file('keys.json', scopes=['https://spreadsheets.google.com/feeds', 'https://www.googleapis.com/auth/drive'])

    # ตั้งค่าการเชื่อมต่อ gspread ด้วยข้อมูลรับรอง
    gc = gspread.service_account(filename='keys.json')

    # เปิดสเปรดชีตของ Google Sheets โดยใช้ชื่อหรือ URL
    spreadsheet = gc.open('interstat_tat')
 
    # เลือกชีตที่ต้องการใน Google Sheets
    worksheet = spreadsheet.worksheet('choose_data_avgY')

    # อ่านข้อมูลจากชีตเป็นรายการของดิกชันนารี
    data = worksheet.get_all_records()

    # สร้าง DataFrame จากข้อมูล
    df = pd.DataFrame(data)

    return df

cal = getdata()
cal

         จังหวัด  year อัตราการเข้าพักเฉลี่ย
0         กระบี่  2019                66.38%
1         กระบี่  2018                66.13%
2         กระบี่  2017                63.94%
3         กระบี่  2014                61.97%
4         กระบี่  2015                61.47%
..           ...   ...                   ...
765  อุบลราชธานี  2014                53.86%
766  อุบลราชธานี  2015                51.71%
767  อุบลราชธานี  2022                48.01%
768  อุบลราชธานี  2020                43.31%
769  อุบลราชธานี  2021                26.48%

[770 rows x 3 columns]

In [13]:
# สร้างฟังก์ชันสำหรับแปลงเปอร์เซ็นต์เป็นตัวเลข
def convert_percentage_to_float(percentage):
    return float(percentage.replace('%', ''))

# ใช้ apply() เพื่อแปลงทุกค่าในคอลัมน์
cal['อัตราการเข้าพักเฉลี่ย'] = cal['อัตราการเข้าพักเฉลี่ย'].apply(convert_percentage_to_float)

cal['อัตราการเข้าพักเฉลี่ย'] = cal['อัตราการเข้าพักเฉลี่ย']/ 100

# แสดง DataFrame หลังจากการแปลงข้อมูล
cal

         จังหวัด  year  อัตราการเข้าพักเฉลี่ย
0         กระบี่  2019                 0.6638
1         กระบี่  2018                 0.6613
2         กระบี่  2017                 0.6394
3         กระบี่  2014                 0.6197
4         กระบี่  2015                 0.6147
..           ...   ...                    ...
765  อุบลราชธานี  2014                 0.5386
766  อุบลราชธานี  2015                 0.5171
767  อุบลราชธานี  2022                 0.4801
768  อุบลราชธานี  2020                 0.4331
769  อุบลราชธานี  2021                 0.2648

[770 rows x 3 columns]

In [15]:
filtered_cal = cal[cal['year'].isin([2019, 2020])]

# ใช้ pivot_table สร้าง DataFrame ที่มีแถวเป็นจังหวัดและคอลัมน์เป็นปี
pivot_cal = filtered_cal.pivot_table(values='อัตราการเข้าพักเฉลี่ย', index='จังหวัด', columns='year')

# เพิ่มคอลัมน์ 'growth_rate' โดยนำข้อมูลของ year 2019 ลบข้อมูลของ year 2014
pivot_cal['growth_rate'] = pivot_cal[2020] - pivot_cal[2019]

pivot_cal_reset = pivot_cal.reset_index()

pivot_cal_reset

year        จังหวัด    2019    2020  growth_rate
0            กระบี่  0.6638  0.2091      -0.4547
1     กรุงเทพมหานคร  0.8578  0.2618      -0.5960
2         กาญจนบุรี  0.5991  0.4328      -0.1663
3         กาฬสินธุ์  0.4815  0.3527      -0.1288
4         กำแพงเพชร  0.4607  0.2929      -0.1678
..              ...     ...     ...          ...
72         เพชรบุรี  0.7737  0.5890      -0.1847
73        เพชรบูรณ์  0.5432  0.4122      -0.1310
74              เลย  0.5816  0.3469      -0.2347
75             แพร่  0.5718  0.4131      -0.1587
76       แม่ฮ่องสอน  0.4410  0.2870      -0.1540

[77 rows x 4 columns]

In [17]:
#growth_plus_increase
import pandas as pd
import gspread
import gspread_dataframe as gd
from google.oauth2 import service_account
from datetime import datetime
def run_all():
    # ระบุขอบเขต (scope) ของการเข้าถึง Google Sheets
    SCOPES = ['https://www.googleapis.com/auth/spreadsheets']

    # อ่านข้อมูลการรับรองตัวตนจากไฟล์ "keys.json"
    creds = service_account.Credentials.from_service_account_file(
        'keys.json', scopes=SCOPES)

    # เชื่อมต่อกับ Google Sheets
    client = gspread.authorize(creds)
    
    # รหัสของ Google Spreadsheet ที่คุณต้องการใช้
    SAMPLE_SPREADSHEET_ID = '1rH68GFTtshdDNaM70TUzXuhp5_23gfOdtqP2OaceATY'

    # โหลดข้อมูลหุ้นที่คุณต้องการอัปเดต (เรียกใช้ฟังก์ชันหรือเมทอดที่ให้ข้อมูลนี้)
    filtered_data = pivot_cal_reset

    
    # เปิด Google Sheet
    sheet = client.open_by_key(SAMPLE_SPREADSHEET_ID)

    # เลือกชีทที่คุณต้องการอัปเดต (ใช้ชื่อชีทหรือดัชนีชีท)
    update_sheet = sheet.worksheet("ชีต15") 

    # ลบข้อมูลในชีท (หากต้องการ)
    update_sheet.clear()

    # แปลงข้อมูล int64 เป็น strings ใน DataFrame
    #filtered_data = filtered_data.astype(str)

    # อัปเดตข้อมูลลงใน Google Sheets
    gd.set_with_dataframe(update_sheet, filtered_data)

    # พิมพ์เวลาปัจจุบัน
    print(datetime.now())

# เรียกใช้งานฟังก์ชัน run_all()
run_all()

2023-12-25 07:16:03.551198

In [30]:
#up choose_data
import gspread
from google.oauth2.service_account import Credentials
from datetime import datetime, timedelta
def getdata():
    # โหลดข้อมูลรับรอง JSON จากไฟล์ที่คุณดาวน์โหลด
    credentials = Credentials.from_service_account_file('keys.json', scopes=['https://spreadsheets.google.com/feeds', 'https://www.googleapis.com/auth/drive'])

    # ตั้งค่าการเชื่อมต่อ gspread ด้วยข้อมูลรับรอง
    gc = gspread.service_account(filename='keys.json')

    # เปิดสเปรดชีตของ Google Sheets โดยใช้ชื่อหรือ URL
    spreadsheet = gc.open('interstat_tat')
 
    # เลือกชีตที่ต้องการใน Google Sheets
    worksheet = spreadsheet.worksheet('choose_data_avgY')

    # อ่านข้อมูลจากชีตเป็นรายการของดิกชันนารี
    data = worksheet.get_all_records()

    # สร้าง DataFrame จากข้อมูล
    df = pd.DataFrame(data)

    return df

cal = getdata()
cal

         จังหวัด  year อัตราการเข้าพักเฉลี่ย
0         กระบี่  2019                66.38%
1         กระบี่  2018                66.13%
2         กระบี่  2017                63.94%
3         กระบี่  2014                61.97%
4         กระบี่  2015                61.47%
..           ...   ...                   ...
765  อุบลราชธานี  2014                53.86%
766  อุบลราชธานี  2015                51.71%
767  อุบลราชธานี  2022                48.01%
768  อุบลราชธานี  2020                43.31%
769  อุบลราชธานี  2021                26.48%

[770 rows x 3 columns]

In [31]:
# สร้างฟังก์ชันสำหรับแปลงเปอร์เซ็นต์เป็นตัวเลข
def convert_percentage_to_float(percentage):
    return float(percentage.replace('%', ''))

# ใช้ apply() เพื่อแปลงทุกค่าในคอลัมน์
cal['อัตราการเข้าพักเฉลี่ย'] = cal['อัตราการเข้าพักเฉลี่ย'].apply(convert_percentage_to_float)

cal['อัตราการเข้าพักเฉลี่ย'] = cal['อัตราการเข้าพักเฉลี่ย']/ 100

# แสดง DataFrame หลังจากการแปลงข้อมูล
cal

         จังหวัด  year  อัตราการเข้าพักเฉลี่ย
0         กระบี่  2019                 0.6638
1         กระบี่  2018                 0.6613
2         กระบี่  2017                 0.6394
3         กระบี่  2014                 0.6197
4         กระบี่  2015                 0.6147
..           ...   ...                    ...
765  อุบลราชธานี  2014                 0.5386
766  อุบลราชธานี  2015                 0.5171
767  อุบลราชธานี  2022                 0.4801
768  อุบลราชธานี  2020                 0.4331
769  อุบลราชธานี  2021                 0.2648

[770 rows x 3 columns]

In [33]:
filtered_cal = cal[cal['year'].isin([2021, 2023])]

# ใช้ pivot_table สร้าง DataFrame ที่มีแถวเป็นจังหวัดและคอลัมน์เป็นปี
pivot_cal = filtered_cal.pivot_table(values='อัตราการเข้าพักเฉลี่ย', index='จังหวัด', columns='year')

# เพิ่มคอลัมน์ 'growth_rate' โดยนำข้อมูลของ year 2019 ลบข้อมูลของ year 2014
pivot_cal['growth_rate'] = pivot_cal[2023] - pivot_cal[2021]

pivot_cal_reset = pivot_cal.reset_index()

pivot_cal_reset

year        จังหวัด    2021    2023  growth_rate
0            กระบี่  0.0599  0.6104       0.5505
1     กรุงเทพมหานคร  0.1454  0.7835       0.6381
2         กาญจนบุรี  0.2553  0.6338       0.3785
3         กาฬสินธุ์  0.2462  0.5951       0.3489
4         กำแพงเพชร  0.1450  0.3567       0.2117
..              ...     ...     ...          ...
72         เพชรบุรี  0.3655  0.7383       0.3728
73        เพชรบูรณ์  0.2620  0.4653       0.2033
74              เลย  0.1245  0.6854       0.5609
75             แพร่  0.2197  0.6025       0.3828
76       แม่ฮ่องสอน  0.2016  0.4756       0.2740

[77 rows x 4 columns]

In [34]:
#up choose_data
import gspread
from google.oauth2.service_account import Credentials
from datetime import datetime, timedelta
#growth_plus_increase
import pandas as pd
import gspread
import gspread_dataframe as gd
from google.oauth2 import service_account
from datetime import datetime
def run_all():
    # ระบุขอบเขต (scope) ของการเข้าถึง Google Sheets
    SCOPES = ['https://www.googleapis.com/auth/spreadsheets']

    # อ่านข้อมูลการรับรองตัวตนจากไฟล์ "keys.json"
    creds = service_account.Credentials.from_service_account_file(
        'keys.json', scopes=SCOPES)

    # เชื่อมต่อกับ Google Sheets
    client = gspread.authorize(creds)
    
    # รหัสของ Google Spreadsheet ที่คุณต้องการใช้
    SAMPLE_SPREADSHEET_ID = '1rH68GFTtshdDNaM70TUzXuhp5_23gfOdtqP2OaceATY'

    # โหลดข้อมูลหุ้นที่คุณต้องการอัปเดต (เรียกใช้ฟังก์ชันหรือเมทอดที่ให้ข้อมูลนี้)
    filtered_data = pivot_cal_reset

    
    # เปิด Google Sheet
    sheet = client.open_by_key(SAMPLE_SPREADSHEET_ID)

    # เลือกชีทที่คุณต้องการอัปเดต (ใช้ชื่อชีทหรือดัชนีชีท)
    update_sheet = sheet.worksheet("ชีต16") 

    # ลบข้อมูลในชีท (หากต้องการ)
    update_sheet.clear()

    # แปลงข้อมูล int64 เป็น strings ใน DataFrame
    #filtered_data = filtered_data.astype(str)

    # อัปเดตข้อมูลลงใน Google Sheets
    gd.set_with_dataframe(update_sheet, filtered_data)

    # พิมพ์เวลาปัจจุบัน
    print(datetime.now())

# เรียกใช้งานฟังก์ชัน run_all()
run_all()

2023-12-25 09:24:19.433004

In [24]:
#up choose_data
import gspread
from google.oauth2.service_account import Credentials
from datetime import datetime, timedelta
def getdata():
    # โหลดข้อมูลรับรอง JSON จากไฟล์ที่คุณดาวน์โหลด
    credentials = Credentials.from_service_account_file('keys.json', scopes=['https://spreadsheets.google.com/feeds', 'https://www.googleapis.com/auth/drive'])

    # ตั้งค่าการเชื่อมต่อ gspread ด้วยข้อมูลรับรอง
    gc = gspread.service_account(filename='keys.json')

    # เปิดสเปรดชีตของ Google Sheets โดยใช้ชื่อหรือ URL
    spreadsheet = gc.open('interstat_tat')
 
    # เลือกชีตที่ต้องการใน Google Sheets
    worksheet = spreadsheet.worksheet('growth_1Y,2Y,3Y')

    # อ่านข้อมูลจากชีตเป็นรายการของดิกชันนารี
    data = worksheet.get_all_records()

    # สร้าง DataFrame จากข้อมูล
    df = pd.DataFrame(data)

    return df

cal = getdata()
cal

        จังหวัด  year  อัตราการเข้าพักเฉลี่ย growth_1Y growth_2Y growth_3Y
0        กระบี่  2014                   0.62
1        กระบี่  2015                   0.61     -0.01
2        กระบี่  2016                   0.61       0.0     -0.01
3        กระบี่  2017                   0.64      0.03      0.02      0.02
4        กระบี่  2018                   0.66      0.02      0.05      0.05
..          ...   ...                    ...       ...       ...       ...
765  แม่ฮ่องสอน  2019                   0.44      0.02      0.04      0.08
766  แม่ฮ่องสอน  2020                   0.29     -0.15     -0.13     -0.12
767  แม่ฮ่องสอน  2021                   0.20     -0.09     -0.24     -0.22
768  แม่ฮ่องสอน  2022                   0.43      0.23      0.14     -0.01
769  แม่ฮ่องสอน  2023                   0.48      0.05      0.27      0.19

[770 rows x 6 columns]

In [28]:
# แปลงค่าในคอลัมน์เป็นตัวเลข
cal[['growth_1Y', 'growth_2Y', 'growth_3Y']] = cal[['growth_1Y', 'growth_2Y', 'growth_3Y']].apply(pd.to_numeric, errors='coerce')

# ใช้ groupby เพื่อกลุ่มข้อมูลตามจังหวัดและใช้ max เพื่อหาค่าสูงสุด
max_growth_by_province = cal.groupby('จังหวัด')[['growth_1Y', 'growth_2Y', 'growth_3Y']].max()

max_growth_by_province = max_growth_by_province.reset_index()

max_growth_by_province

          จังหวัด  growth_1Y  growth_2Y  growth_3Y
0          กระบี่       0.32       0.55       0.40
1   กรุงเทพมหานคร       0.34       0.64       0.52
2       กาญจนบุรี       0.34       0.38       0.20
3       กาฬสินธุ์       0.29       0.35       0.24
4       กำแพงเพชร       0.15       0.21       0.06
..            ...        ...        ...        ...
72       เพชรบุรี       0.33       0.37       0.15
73      เพชรบูรณ์       0.27       0.20       0.05
74            เลย       0.50       0.56       0.34
75           แพร่       0.35       0.38       0.19
76     แม่ฮ่องสอน       0.23       0.27       0.19

[77 rows x 4 columns]

In [29]:
#growth_plus_increase
import pandas as pd
import gspread
import gspread_dataframe as gd
from google.oauth2 import service_account
from datetime import datetime
def run_all():
    # ระบุขอบเขต (scope) ของการเข้าถึง Google Sheets
    SCOPES = ['https://www.googleapis.com/auth/spreadsheets']

    # อ่านข้อมูลการรับรองตัวตนจากไฟล์ "keys.json"
    creds = service_account.Credentials.from_service_account_file(
        'keys.json', scopes=SCOPES)

    # เชื่อมต่อกับ Google Sheets
    client = gspread.authorize(creds)
    
    # รหัสของ Google Spreadsheet ที่คุณต้องการใช้
    SAMPLE_SPREADSHEET_ID = '1rH68GFTtshdDNaM70TUzXuhp5_23gfOdtqP2OaceATY'

    # โหลดข้อมูลหุ้นที่คุณต้องการอัปเดต (เรียกใช้ฟังก์ชันหรือเมทอดที่ให้ข้อมูลนี้)
    filtered_data = max_growth_by_province

    
    # เปิด Google Sheet
    sheet = client.open_by_key(SAMPLE_SPREADSHEET_ID)

    # เลือกชีทที่คุณต้องการอัปเดต (ใช้ชื่อชีทหรือดัชนีชีท)
    update_sheet = sheet.worksheet("ชีต17") 

    # ลบข้อมูลในชีท (หากต้องการ)
    update_sheet.clear()

    # แปลงข้อมูล int64 เป็น strings ใน DataFrame
    #filtered_data = filtered_data.astype(str)

    # อัปเดตข้อมูลลงใน Google Sheets
    gd.set_with_dataframe(update_sheet, filtered_data)

    # พิมพ์เวลาปัจจุบัน
    print(datetime.now())

# เรียกใช้งานฟังก์ชัน run_all()
run_all()

2023-12-25 09:07:57.819394

In [ ]:
#####################

In [14]:
#up choose_data
import gspread
from google.oauth2.service_account import Credentials
from datetime import datetime, timedelta
def getdata():
    # โหลดข้อมูลรับรอง JSON จากไฟล์ที่คุณดาวน์โหลด
    credentials = Credentials.from_service_account_file('keys.json', scopes=['https://spreadsheets.google.com/feeds', 'https://www.googleapis.com/auth/drive'])

    # ตั้งค่าการเชื่อมต่อ gspread ด้วยข้อมูลรับรอง
    gc = gspread.service_account(filename='keys.json')

    # เปิดสเปรดชีตของ Google Sheets โดยใช้ชื่อหรือ URL
    spreadsheet = gc.open('airports')
 
    # เลือกชีตที่ต้องการใน Google Sheets
    worksheet = spreadsheet.worksheet('ชีต3')

    # อ่านข้อมูลจากชีตเป็นรายการของดิกชันนารี
    data = worksheet.get_all_records()

    # สร้าง DataFrame จากข้อมูล
    df = pd.DataFrame(data)

    return df

cal = getdata()
cal

          airport     สนามบิน  value        date  year  month
0          phuket      ภูเก็ต   3081  2009-01-01  2009      1
1      suvanbhumi  สุวรรณภูมิ  22269  2009-01-01  2009      1
2          phuket      ภูเก็ต   3767  2009-01-02  2009      1
3      suvanbhumi  สุวรรณภูมิ  25008  2009-01-02  2009      1
4          phuket      ภูเก็ต   3983  2009-01-03  2009      1
...           ...         ...    ...         ...   ...    ...
16536   chiangmai   เชียงใหม่   2834  2023-11-23  2023     11
16537    donmeung    ดอนเมือง  11719  2023-11-23  2023     11
16538      hatyai     หาดใหญ่    309  2023-11-23  2023     11
16539      phuket      ภูเก็ต  13356  2023-11-23  2023     11
16540  suvanbhumi  สุวรรณภูมิ  51750  2023-11-23  2023     11

[16541 rows x 6 columns]

In [15]:
avg_by_province_year = cal.groupby(['สนามบิน', 'year'])['value'].sum().reset_index()
avg_by_province_year

       สนามบิน  year     value
0     ดอนเมือง  2012    129056
1     ดอนเมือง  2013   2123777
2     ดอนเมือง  2014   2268349
3     ดอนเมือง  2015   3505699
4     ดอนเมือง  2016   4075792
5     ดอนเมือง  2017   5455302
6     ดอนเมือง  2018   5901255
7     ดอนเมือง  2019   6341791
8     ดอนเมือง  2020    875505
9     ดอนเมือง  2021      2755
10    ดอนเมือง  2022    944395
11    ดอนเมือง  2023   3365262
12      ภูเก็ต  2009   1186097
13      ภูเก็ต  2010   1698618
14      ภูเก็ต  2011   2159818
15      ภูเก็ต  2012   2540793
16      ภูเก็ต  2013   3193663
17      ภูเก็ต  2014   3189794
18      ภูเก็ต  2015   3449215
19      ภูเก็ต  2016   4048484
20      ภูเก็ต  2017   4591950
21      ภูเก็ต  2018   5116041
22      ภูเก็ต  2019   5375362
23      ภูเก็ต  2020   1089591
24      ภูเก็ต  2021    120993
25      ภูเก็ต  2022   1526607
26      ภูเก็ต  2023   3193830
27  สุวรรณภูมิ  2009   9813543
28  สุวรรณภูมิ  2010  10741034
29  สุวรรณภูมิ  2011  12741752
30  สุวรรณภูมิ  2012  14591267
31  สุวรรณภูมิ  2013  15768427
32  สุวรรณภูมิ  2014  13491443
33  สุวรรณภูมิ  2015  16306808
34  สุวรรณภูมิ  2016  14989862
35  สุวรรณภูมิ  2017  17939064
36  สุวรรณภูมิ  2018  18458750
37  สุวรรณภูมิ  2019  19316945
38  สุวรรณภูมิ  2020   3200229
39  สุวรรณภูมิ  2021    227228
40  สุวรรณภูมิ  2022   6075539
41  สุวรรณภูมิ  2023  12014287
42     หาดใหญ่  2017    112007
43     หาดใหญ่  2018    144517
44     หาดใหญ่  2019    111059
45     หาดใหญ่  2020     16285
46     หาดใหญ่  2021       274
47     หาดใหญ่  2022     38578
48     หาดใหญ่  2023     85827
49   เชียงใหม่  2017   1089426
50   เชียงใหม่  2019   1518653
51   เชียงใหม่  2020    214927
52   เชียงใหม่  2021       483
53   เชียงใหม่  2022    107859
54   เชียงใหม่  2023    707343

In [13]:
avg_by_province_month = cal.groupby(['สนามบิน', 'month','year'])['value'].sum().reset_index()
avg_by_province_month = avg_by_province_month.sort_values(by=["สนามบิน","year", "month"])


avg_by_province_month

       สนามบิน  month  year   value
115   ดอนเมือง     12  2012  129056
0     ดอนเมือง      1  2013  162080
10    ดอนเมือง      2  2013  165059
20    ดอนเมือง      3  2013  178596
30    ดอนเมือง      4  2013  174018
..         ...    ...   ...     ...
557  เชียงใหม่      7  2023   82650
561  เชียงใหม่      8  2023   76481
565  เชียงใหม่      9  2023   59116
569  เชียงใหม่     10  2023   67091
574  เชียงใหม่     11  2023   62135

[578 rows x 4 columns]